body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
 }
 .navbar-inverse {
  margin-top: 2%;
  background-color: rgb(1, 1, 57);
  border: none;
  border-radius: 0;
  height: 80px;
 }
 #name {
  color: white;
 }
 .navbar-nav {
  float: right;
  margin-right: 200px;
 }
 #myNavbar {
  padding-top: 15px;

 }
 #myNavbar a {
  color: white;
  background-color: rgb(1, 1, 57);
  margin-left: 70px;
  transition-duration: 0.6s;
 }
 #myNavbar a:hover {
  border-bottom: 2px solid blue;
  color: blue;
 }
 .dropdown-menu {
  background-color: rgb(1, 1, 57);
  text-align: left;
 }
 .navbar-header  {
  margin-top: 15px;
  padding-left: 150px;
 }
 #brand-image {
  width: 180px;
  border-radius: 5px;
  border: 1px solid rgb(1, 1, 57);
  margin-top: -50px;
 }

 .top-new {
  width: 70%;
  margin-left: 15%;
  height: 550px;
 }
 #topimg {
  margin-left: 7.5%;
  width: 85%;
  height: 100%;
  object-fit: cover;
 }
 .slideshow-container {
   position: relative;
   height: 100%;
   width: 100%;
   margin: 0 auto;
   overflow: hidden;
   z-index: -1;
 }
 .slideshow-container img {
   position: absolute;
   height: 100%;
   margin-left: 5%;
   width: 90%;
   object-fit: cover;
   opacity: 0;
   transition: opacity 1s ease-in-out;
 }

 .top-lezanda {
  height: 100px;
  width: 83%;
  background-color: rgb(1, 1, 57);
  color: white;
  opacity: 0.6;
  font-size: 20px;
  position: relative;
  margin-left: 8.5%;
  text-align: center;
  padding-top: 30px;
  bottom: 150px;
  font-weight: bolder;
 }



#myBtn,#myBtn22_11,#myBtn40,#myBtn41,#myBtn42,#myBtn17,#myBtn20,#myBtn16,#myBtn15,#myBtn18,#myBtn19,#myBtn39,#myBtn14,#myBtn1,#myBtn2,#myBtnx,#myBtn3,#myBtn4,#myBtn5,#myBtn6,#myBtn7,#myBtn8,#mytoBtn,#mytopBtn {
  height: 50px;
  width: 10%;
  position: absolute;
  text-align: center;
  background-color: rgb(1, 1, 57);
  border: 2px solid white;
  border-style:groove;
  color: white;
  cursor: pointer;
  transition-duration: 0.6s;
  margin-left: 6%;
}
#mytoBtn {
  margin-top: -6%;
  width: 10%;
  margin-left: 30%;
}
.modal,.modal22_11,.modal40,.modal41,.modal42,.modal1,.modal20,.modal17,.modal39,.modal16,.modal18,.modal15,.modal19,.modal2,.modalx,.modal3,.modal4,.modal5,.modal6,.modal7,.modal8,.modaltop,.modal14 {  
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow:auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}
.modal-content,.modal-content22_11,.modal-content41,.modal-content42,.modal-content40,.modal-content20,.modal-content39,.modal-content17,.modal-content18,.modal-content19,.modal-content16,.modal-content15,.modal-contentx,.modal-content1,.modal-content2,.modal-content3,.modal-content14,.modal-content4,.modal-content5,.modal-content6,.modal-content7,.modal-content8,.modal-contenttop {
  background-color: #fefefe;
  color: black;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-left: 10%;
  height: 500px;
}
.close,.close41,.close42,.close22_11,.close20,.close40,.closex,.close17,.close18,.close39,.close1,.close15,.close19,.close16, .close2,.close3,.close4,.close5,.close6,.close7,.close14,.close8,.closetop {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition-duration: 0.7s;
}
#im,#imtop,#modal-top-text, #modal-text {
  float: left;
  width: 50%;
  height: 90%;

}
#im,#imtop {
  height: 85%;
  margin-top: 2%;
}
#p1 {
  padding-top: 20px;
}
#modal-image1 {
  float: left; 
  width: 46%;
  margin-top: 8%;
  margin-left: 2%;
}
#modal-image2 { 
  width: 92%;
  height: 400px;
  object-fit: cover;
}
#modal-image {
  width: 92%;
  margin-top: 8%;
  object-fit: contain;
}
#top-img {
  object-fit: contain;
}


.Tmhmata {
  width: 70%;
  margin-left: 15%;
  height: 250px;
}
#tmhmata-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
#t1, #t2 {
  width: 20%;
  height: 150px;
  float: left;
  margin-top: 3%;
  margin-left: 2%;
  border-radius: 10px;
  transition-duration: 0.7s;
  color: rgb(1, 1, 57);
  text-align: center;
}
.titlos-tmhmata {
  width: 100%;
  margin-top: 8%;
  text-align: center;
  font-size: 250%;
}#t1 {
  margin-left: 28%;
}




.titlos-nea {
  width: 100%;
  text-align: center;
  font-size: 250%;
  margin-top: 3%;
}
.news {
  width: 75%;
  margin-left: 12.5%;
  margin-top: -5%;
}
#n1 ,#n1-top{
  width: 30%;
  margin-left: 2.5%;
  height: 250px;
  background-color: white;
  float: left;
  margin-top: 15%;
}

#news-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
#news-text {
  background-color: white;
  text-align: center;
  height: 60px;
  font-weight: bold;
  padding-top: 10px;
}



.xorhgoi {
  width: 100%;
  height: 230px;
  background: linear-gradient(to bottom, rgb(2, 2, 96), #08080f);
  margin-top: 240%;
 
}


#xor1 {
  width: 40%;
  float: left;
  height: 200px;
  padding-top: 30px;
}
#xorhgoi-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
}


.bottom {
  width: 60%;
  float: left;
  height: 200px;
  border-right: 1px solid grey;
}
#b1, #b3 {
  width: 50%;
  float: left;
  color: lightgray;
   padding: 30px;
   padding-top: 50px;
}
#b2 {
  text-align: center;
}
#b3 {
  text-align: right;
 
}
#b2-image {
  width: 80%;
  height: 150px;
  object-fit: contain;
}


#myBtn5:hover,
#myBtn4:hover,
#myBtn3:hover,
#myBtn2:hover,
#myBtn1:hover,
#myBtn:hover,
#myBtn6:hover,
#myBtn7:hover,
#mytopBtn:hover,
#myBtnx:hover,
#myBtn8:hover,
#myBtn15:hover,
#myBtn16:hover,
#myBtn14:hover,
#myBtn17:hover,
#myBtn19:hover,
#myBtn18:hover,
#myBtn20:hover,
#myBtn39:hover,
#myBtn40:hover,
#myBtn41:hover,
#myBtn42:hover,
#myBtn22_11:hover   {
  opacity: 0.7;
}
.close:hover ,
.close1:hover ,
.close22_11:hover,
.close2:hover ,
.close3:hover ,
.close4:hover ,
.close5:hover ,
.close5:hover ,
.close6:hover,
.close7:hover,
.close8:hover,
.closex:hover,
.close15:hover,
.closetop:hover,
.close14:hover,
.clsoe17:hover,
.close16:hover,
.close19:hover,
.close18:hover,
.close39:hover,
.close20:hover,
.close40:hover,
.close41:hover,
.close42:hover  {
  color: black;
  cursor: pointer;
}
#t1:hover, #t2:hover {
  box-shadow: 5px 5px 8px 5px #888888;
}
#qwer,#rewq {
  visibility: hidden;
}
.hid {
  visibility: visible;
}
/*@media screen and (max-width: 768px) {
  .navbar-inverse {
    height: 90px;
  }
  .navbar-header {
    padding-left: 0;
  }
  #brand-image {
    width: 120px;
    margin-top: -30px;
  }
  .navbar-nav {
    margin: 0;
    width: 50%;
  }
  #myNavbar a {
    margin-left: 5px;
  }





  .top-new {
    width: 95%;
    margin-left: 2.5%;
  }
  #mytopBtn {
    width: 180px;
    margin-left: 35%;
    margin-top: -10%;
  }


  .titlos-tmhmata {
    margin-top: 20%;
  }
  .Tmhmata {
    width: 100%;
    margin-left: 0;
  }
  #t1 {
    margin-left: 19%;
  }
  #t1,#t2 {
    width: 30%;
    height: 100px;
  }
 


  .news {
    width: 100%;
    margin-left: 0;
  }
  #n1 {
    width: 40%;
    margin-left: 7%;
    margin-top: 20%;
  } 
  #myBtn,#myBtn1,#myBtn2,#myBtn3,#myBtn4,#myBtn5 {
    width: 130px;
    margin-left: 12%;
  }



  .modal-content,.modal-content1,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-contenttop{
    width: 95%;
    margin-left: 2.5%;
    height: 1400px;
  }
  #im,#imtop, #modal-top-text {
    width: 100%;
    height: 250px;
    margin-top: 0;
  }
  #im,#imtop  {
    width: 80%;
    margin-left: 2.5%;
  }
  #modal-image1 {
    height: 300px;
  }
  #modal-image {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }
  #modal-top-text {
    margin-top: 20%;
    font-size: x-large;
  }
  #modal-text {
    margin-top: 100px;
    font-size:x-large; 
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20%;
  }



  .xorhgoi {
    margin-top: 1500px;
  }
}
@media screen and (min-width:769px) {
  .navbar-inverse {
    height: 90px;
  }
  .navbar-header {
    padding-left: 0;
  }
  #brand-image {
    width: 120px;
    margin-top: -30px;
  }
  .navbar-nav {
    margin: 0;
    width: 60%;
  }
  #myNavbar a {
    margin-left: 20px;
  }





  .top-new {
    width: 95%;
    margin-left: 2.5%;
  }
  #mytopBtn {
    width: 180px;
    margin-left: 35%;
    margin-top: -10%;
  }


  .titlos-tmhmata {
    margin-top: 20%;
  }
  .Tmhmata {
    width: 100%;
    margin-left: 0;
  }
  #t1 {
    margin-left: 19%;
  }
  #t1,#t2 {
    width: 30%;
    height: 100px;
  }
 


  .news {
    width: 100%;
    margin-left: 0;
  }
  #n1 {
    width: 40%;
    margin-left: 7%;
    margin-top: 20%;
  } 
  #myBtn,#myBtn1,#myBtn2,#myBtn3,#myBtn4,#myBtn5 {
    width: 130px;
    margin-left: 12%;
  }



  .modal-content,.modal-content1,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-contenttop{
    width: 95%;
    margin-left: 2.5%;
    height: 1400px;
  }
  #im,#imtop, #modal-top-text {
    width: 100%;
    height: 250px;
    margin-top: 0;
  }
  #im,#imtop  {
    width: 80%;
    margin-left: 2.5%;
  }
  #modal-image1 {
    height: 300px;
  }
  #modal-image {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }
  #modal-top-text {
    margin-top: 20%;
    font-size: x-large;
  }
  #modal-text {
    margin-top: 100px;
    font-size:x-large; 
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20%;
  }



  .xorhgoi {
    margin-top: 1500px;
  }
}*/

@media screen and (max-width: 600px) {/*Gia kinhta, mikres o8ones */

  body {
   width: 100%;
 
   height: 2000;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }
  .navbar-inverse {
    width: 100%;
    height: 60px;
  }
  #myNavbar {
    background-color: rgb(1, 1, 57);
    margin-top: 0;
  }
  #name {
      color: white;
    padding: 0;
    margin-top: 2%;
    margin-left: -10%;
  }
  #myNavbar a {
    width: 100%;
    float: left;
    margin-left: 0;
  }
  .navbar-nav {
    float: left;
    margin-right: 0;
  }
  .navbar-brand {
    width: 40%;
    margin-top: -5px;
  }
  #brand-image {
    width: 60px;
    margin-top: -5px;
  }
  .navbar-header {
    margin-top: 2px;
    padding-left: 0;
  }


  .top-new {
    width: 100%;
    margin-left: 0%;
    height: 250px;
    
  }
  #topimg{
    width: 95%;
    margin-left: 2.5%;
  }
  .top-lezanda {
    width: 90%;
    margin-left: 5%;
    height: 60px;
    font-size: 100%;
    padding: 10px;
    padding-top: 8px;
    bottom: 80px;
    z-index: 1;
  }
  #mytoBtn {
    width: 30%;
    height: 40px;
    font-size: smaller;
    margin-top: -20%;
    margin-left: 35%;
  }
  .modal-content,.modal-content22_11,.modal-content41,.modal-content42, .modal-content40,.modal-content20,.modal-content39,.modal-content19,.modal-content17,.modal-content18,.modal-content16,.modal-content15,.modal-content14,.modal-content1,.modal-content2,.modal-content3,.modal-content4,.modal-content5,.modal-content6,.modal-contentx,.modal-content7,.modal-content8,.modal-contenttop {
    height: 1800px;
    width: 95%;
    margin-left: 2.5%;
    
  }
  #modal-image2 {
    width: 100%;
    height: 250px;
    margin-left: 0%;
    object-fit: cover;
  }
  #modal-text {
    width: 100%;
  }
  #im,#imtop, #modal-top-text {
    width: 100%;
    height: 250px;
    margin-top: 0;
  }
  #im,#imtop {
    width: 110%;
    margin-left: -5%;
  }

  .titlos-tmhmata {
    font-size: 200%;
    margin-top: 12%
  }
  .Tmhmata {
    width: 100%;
    margin-left: 0;
    height: 150px;
  }
  #t1, #t2 {
    margin-top: 0;
    width: 40%;
    height: 100px;
  
  }
  h5 {
    font-size: 90%
  }
  #t1 {
    margin-left: 9%;
  }
  #tmhmata-image {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }


  .titlos-nea {
    font-size: 200%;
  }
  .news {
    width: 100%;
    margin-left: 0;
    margin-top: -25%;
  }
  #n1,#n1-top {
    width: 90%;
    margin-left: 5%;
    margin-top: 55%;
    height: 120px;
  }
  #n1-top {
    margin-top: 30%;
  }
  #news-image {
    height: 200px ;
  }
  #myBtn,#myBtn22_11,#myBtn42,#myBtn41,#myBtn40,#myBtn1,#myBtn20,#myBtn19,#myBtn39,#myBtn17,#myBtn18,#myBtn16,#myBtn15,#myBtn2,#myBtn14,#myBtn3,#myBtn4,#myBtn5,#myBtnx,#myBtn6,#myBtn7,#myBtn8{
  
    width: 30%;
    height: 40px;
    font-size: smaller;
    margin-left: 30%;
  }

  .xorhgoi {
    height: 300px;
    margin-top: 1950%;
  }
  #xorhgoi-image {
      height: 80px;
  }
  .bottom {
      width: 60%;
    height: 200px;
  }
  #b2 {
    display: none;
  }
  #b1,#b3 {
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 90%;
  }
  p {
    padding-top: 20px;
  }
  #qwer,#rewq {
    visibility: visible;
  }
  .hid {
    display: none;
  }

}
@keyframes appearSquare {
    0% { opacity: 0; transform: scale(0.2); }
    100% { opacity: 1; transform: scale(1); }
  }
  
  .top-new {
    
    animation: appearSquare 1.5s ease-in-out;
  }
  @keyframes moveInversee {
    0% { transform: translateY(-180%); }
    100% { transform: translateY(0); }
  }
  
  .navbar-inverse {
    animation: moveInversee 1s ease-in-out;
  }

  