body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
   }
   .navbar-inverse {
    margin-top: 2%;
    background-color: rgb(1, 1, 57);
    border: none;
    border-radius: 0;
    height: 80px;
   }
   .navbar-nav {
    float: right;
    margin-right: 200px;
   }
   #name {
       color: white;
    }
   #myNavbar {
    padding-top: 15px;

   }
   #myNavbar a {
    color: white;
    background-color: rgb(1, 1, 57);
    margin-left: 70px;
    transition-duration: 0.6s;
   }
   #myNavbar a:hover {
    border-bottom: 2px solid blue;
    color: blue;
   }
   .navbar-header  {
    margin-top: 15px;
    padding-left: 150px;
   }
   .dropdown-menu {
    background-color: rgb(1, 1, 57);
    text-align: left;
   }
   #brand-image {
    width: 180px;
    border-radius: 5px;
    border: 1px solid rgb(1, 1, 57);
    margin-top: -50px;
   }


  .xorhgoi {
    width: 100%;
    height: 230px;
    background: linear-gradient(to bottom, rgb(2, 2, 96), #08080f);
    margin-top: 20%;
   
  }
  
  
  #xor1 {
    width: 40%;
    float: left;
    height: 200px;
    padding-top: 30px;
  }
  #xorhgoi-image {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }


  .bottom {
    width: 60%;
    float: left;
    height: 200px;
    border-right: 1px solid grey;
  }
  #b1, #b3 {
    width: 50%;
    float: left;
    color: lightgray;
     padding: 30px;
     padding-top: 50px;
  }
  #b2 {
    text-align: center;
  }
  #b3 {
    text-align: right;
   
  }
  #b2-image {
    width: 80%;
    height: 150px;
    object-fit: contain;
  }


  .swimming {
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
    height: 600px;
}
.swim-text {
    padding: 20px;
    width: 65%;
    font-size: 200%;
 
}
.swim1, .swim2 {
    float: left;
    height: 100%;
}
.swim1 {
    height: 90%;
    width: 65%;
    border-right: 1px solid rgb(1, 1, 57);
}
.swim2 {
 
    margin-left: 2%;
    width: 33%;

}
#swim2-first-new {
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 0%;
}
#swim2-new {
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 40%;
}
#swim-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
h2 {
    font-size: 130%;
    padding: 20px;
}
  @media screen and (max-width: 600px) {/*Gia kinhta, mikres o8ones */

    body {
     width: 100%;
   
     height: 2000;
     background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    }
    .navbar-inverse {
      width: 100%;
      height: 60px;
    }
    #myNavbar {
      background-color: rgb(1, 1, 57);
      margin-top: 0;
    }
    #myNavbar a {
      width: 100%;
      float: left;
      margin-left: 0;
    }
    #name {
      padding: 0;
      margin-top: 2%;
      margin-left: -10%;
    }
    .navbar-nav {
      float: left;
      margin-right: 0;
    }
    .navbar-brand {
      width: 40%;
      margin-top: -5px;
    }
    #brand-image {
      width: 60px;
      margin-top: -5px;
    }
    .navbar-header {
      margin-top: 2px;
      padding-left: 0;
    }



    .xorhgoi {
      height: 300px;
      margin-top: 100%;
    }
    #xorhgoi-image {
        height: 80px;
    }
    .bottom {
        width: 60%;
      height: 200px;
    }
    #b2 {
      display: none;
    }
    #b1,#b3 {
      width: 100%;
      text-align: left;
      padding: 10px;
      font-size: 90%;
    }


    .swimming {
        width: 100%;
        margin-left: 0;
    }
    .swim1 {
        width: 55%;
        border: none;
    }
    .swim2 {
        width: 45%;  margin-left: 0;
    }
    #swim1-text {
        width: 100%;
    }
    h2 {
        font-size: 100%;
    }
    #swim-img {
        height: 200px;
    }
  
}
