  body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
   }
   .navbar-inverse {
    margin-top: 2%;
    background-color: rgb(1, 1, 57);
    border: none;
    border-radius: 0;
    height: 80px;
   }
   #name {
       color: white;
    }
   .navbar-nav {
    float: right;
    margin-right: 200px;
   }
   #myNavbar {
    padding-top: 15px;

   }
   #myNavbar a {
    color: white;
    background-color: rgb(1, 1, 57);
    margin-left: 70px;
    transition-duration: 0.6s;
   }
   #myNavbar a:hover {
    border-bottom: 2px solid blue;
    color: blue;
   }
   .dropdown-menu {
    background-color: rgb(1, 1, 57);
    text-align: left;
   }
   .navbar-header  {
    margin-top: 15px;
    padding-left: 150px;
   }
   #brand-image {
    width: 180px;
    border-radius: 5px;
    border: 1px solid rgb(1, 1, 57);
    margin-top: -50px;
   }


  .xorhgoi {
    width: 100%;
    height: 230px;
    background: linear-gradient(to bottom, rgb(2, 2, 96), #08080f);
    margin-top: 70%;
   
  }
  
  
  #xor1 {
    width: 40%;
    float: left;
    height: 200px;
    padding-top: 30px;
  }
  #xorhgoi-image {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }


  .bottom {
    width: 60%;
    float: left;
    height: 200px;
    border-right: 1px solid grey;
  }
  #b1, #b3 {
    width: 50%;
    float: left;
    color: lightgray;
     padding: 30px;
     padding-top: 50px;
  }
  #b2 {
    text-align: center;
  }
  #b3 {
    text-align: right;
   
  }
  #b2-image {
    width: 80%;
    height: 150px;
    object-fit: contain;
  }
.head {
      width: 80%;
      height: 50px;
      margin-left: 10%;
      margin-top: 5%;
    }
    h1 {
      width: 100%;
      padding-left: 100px;
      font-weight: lighter;
    }
    .center {
      width: 80%;
      margin-left: 10%;
      height: 900px;
      
    }
    .c1, .c2 {
      float: left;
      height: 520px;
    }
    .c3 {
      float: left;
      width: 40%;
      height: 450px;
      border-left: 1px solid rgb(1, 1, 57);
    }
    .c3 h2 {
      width: 100%;
      padding-top: 30px;
      text-align: center;
      font-size: 100%;
      padding: 15px;
    }
    .c4 {
      float: left;
      margin-left: 3%;
      width: 56%;
      height: 450px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    .column {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    .column img {
     width: 100%;
     height: 100%;
     border-radius: 50px;
    }
    .text {
       margin-top: 10px; /* Adjust the spacing between the image and text */
       color: black;
       width: 70%;
       font-weight: bold;
       text-align: center;
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
     }
    .c1 {
      width: 60%;
    }
    .c2 {
      width: 39%;
      height: 520px;
      border-right: 1px solid rgb(1, 1, 57);
    }
    h3 {
   
      padding-right: 15px;
      font-size: 107%;
      margin-top: 10%;
    }
.slideshow-container {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    z-index: -1;
}

/* Style for the images */
.slideshow-container img {
    position: absolute;
    margin-top: 20px;
    height: 450px;
    margin-left: 5%;
    width: 90%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
 } 


  @media screen and (max-width: 600px) {/*Gia kinhta, mikres o8ones */

body {
 width: 100%;

 height: 2000;
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSS_YJ8jz7N2nFBIY1IsUZQzsUFwaoAhsPvQ&usqp=CAU);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.navbar-inverse {
  width: 100%;
  height: 60px;
}
#myNavbar {
  background-color: rgb(1, 1, 57);
  margin-top: 0;
}
#name {
   padding: 0;
   margin-top: 2%;
   margin-left: -10%;   
}
#myNavbar a {
  width: 100%;
  float: left;
  margin-left: 0;
}
.navbar-nav {
  float: left;
  margin-right: 0;
}
.navbar-brand {
  width: 40%;
  margin-top: -5px;
}
#brand-image {
  width: 60px;
  margin-top: -5px;
}
.navbar-header {
  margin-top: 2px;
  padding-left: 0;
}



.xorhgoi {
      height: 300px;
      margin-top: 420%;
    }
    #xorhgoi-image {
        height: 80px;
    }
    .bottom {
        width: 60%;
      height: 200px;
    }
    #b2 {
      display: none;
    }
    #b1,#b3 {
      width: 100%;
      text-align: left;
      padding: 10px;
      font-size: 90%;
    }
    
    .head {
    width: 100%;
    margin-left: 0;
   
    height: 50px;
  }
  h1 {
    width: 100%;
    padding-left: 15px;
    font-size: 180%;
  }
  .center {
    width: 100%;
    margin-left: 0;
    height: 1500px;
   
  }
  .c1, .c2, .c3, .c4 {
    width: 100%;
    height: 300px;
    border: none;
  }
  .c3 {
    margin-top: 50%;

    height: 300px;
  }
  .c3 h2 {
    text-align: left;
    padding: 0;
    padding-left: 20px;
  }
  .c4 {
    margin-left: 0;
    margin-top: 0%;
    gap: 5px;
  }
  .column {
    padding: 10px;
  }
  .c1 {
    border-bottom: 1px solid rgb(1, 1, 57) ;
  }
  
  .c2 h3 {
    padding-right: 0;
    padding-left: 20px;
  }
    
    .navbar-inverse {
    margin-top: 2%;
    
    background-color: rgb(1, 1, 57);
  
   }
   
.slideshow-container img {
    height: 250px;
  }
}



@keyframes appearSquare {
      0% { opacity: 0; transform: scale(0.2); }
      100% { opacity: 1; transform: scale(1); }
    }
    
    .c1 {
      
      animation: appearSquare 1.5s ease-in-out;
    }
    @keyframes moveInversee {
      0% { transform: translateY(-180%); }
      100% { transform: translateY(0); }
    }
    
    .navbar-inverse, .head {
      animation: moveInversee 1s ease-in-out;
    }
